/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2022, 10:13:01 PM
    Author     : HoangMinh
*/
body
{
    background-image: url(https://i.pinimg.com/originals/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.png);
    background-size:  1920px 1080px;
    background-position: 60% 100%; 
}



#detail_frame
{
    position: absolute;
    top: 30%;
    left: 16%;
    background-color: white;
    padding: 1%;

}

#col_1
{
    border-radius: 10px;
    height: 100%;
    
}

#column_inf
{
   text-align: center;
   padding: 1%;
}

#column_inf_2
{
   text-align: center;
   padding: 1%;
   border-bottom: 1px solid black;
}

#lesson
{
    position: absolute;
    top: 70%;
    left: 16%;
}


  


