<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controllers.course.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseDetailController</servlet-name>
        <servlet-class>controllers.course.ViewCourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controllers.profile.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfileController</servlet-name>
        <servlet-class>controllers.profile.ViewUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controllers.notifications.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExamController</servlet-name>
        <servlet-class>controllers.exam.ViewExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExamController</servlet-name>
        <servlet-class>controllers.exam.AddExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExamController</servlet-name>
        <servlet-class>controllers.exam.EditExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExamController</servlet-name>
        <servlet-class>controllers.exam.DeleteExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseController</servlet-name>
        <servlet-class>controllers.course.AddCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseController</servlet-name>
        <servlet-class>controllers.course.EditCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseController</servlet-name>
        <servlet-class>controllers.course.DeleteCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMarkController</servlet-name>
        <servlet-class>controllers.mark.ViewMarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfileController</servlet-name>
        <servlet-class>controllers.profile.medium.AddProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileController</servlet-name>
        <servlet-class>controllers.profile.medium.DeleteProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeacheProfileController</servlet-name>
        <servlet-class>controllers.profile.medium.EditTeacheProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourseDetailController</servlet-name>
        <url-pattern>/ViewCourseDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfileController</servlet-name>
        <url-pattern>/ViewUserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/NotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExamController</servlet-name>
        <url-pattern>/ViewExamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExamController</servlet-name>
        <url-pattern>/AddExamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExamController</servlet-name>
        <url-pattern>/EditExamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExamController</servlet-name>
        <url-pattern>/DeleteExamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseController</servlet-name>
        <url-pattern>/AddCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseController</servlet-name>
        <url-pattern>/EditCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseController</servlet-name>
        <url-pattern>/DeleteCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMarkController</servlet-name>
        <url-pattern>/ViewMarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfileController</servlet-name>
        <url-pattern>/AddProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileController</servlet-name>
        <url-pattern>/DeleteProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeacheProfileController</servlet-name>
        <url-pattern>/EditTeacheProfileController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>View/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
